* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
  background-color: #dcdcdc;
}

/* Box */
.box {
  display: none;
  width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.box.active {
  display: block;
}

.box-block {
  display: block;
  width: 500px;
  margin: auto;
}

.box-title {
  margin: 15px 0;
  font-size: 30px;
  text-align: center;
}

.box-block-title {
  font-size: 28px;
  text-align: center;
  margin-top: 25px;
}


/* FN Selector */
#fn-selector {
  display: flex;
  width: 500px;
  margin: auto;
}

.fn-selector-item {
  flex: 1;
  line-height: 40px;
  background-color: #fafafa;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ff8d29;
  border-top: 0;
  font-weight: 300;
}

.fn-selector-item:first-child {
  border-radius: 0 0 0 4px;
  border-right: 0px;
}

.fn-selector-item:last-child {
  border-radius: 0 0 4px 0;
  border-left: 0px;
}

.fn-selector-item:hover {
  box-shadow: inset 0px 0px 4px #ff8d29;
}

.fn-selector-item.active {
  font-weight: 500;
  background-color: #ffd0a7;
}


/* Loader */

.loooader.active {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top-color: #99ccff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



input,
textarea {
  display: block;
  width: 400px;
  margin: 10px auto;
  border: 1px solid #ff8d29;
  border-radius: 4px;
  padding: 10px;
  background-color: #fafafa;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  box-shadow: inset 0px 0px 4px #ff8d29;
  outline: none;
}

textarea {
  height: 500px;
}

input[type="file"] {
  cursor: pointer;
}

input[type="radio"] {
  display: inline;
  width: auto;
  margin-left: 10px;
  box-shadow: initial;
  cursor: pointer;
}

input[type="button"] {
  width: 250px;
  cursor: pointer;
  background-color: #ffd0a7;
  font-size: 16px;
}

#pdf-separator {
  width: 400px;
  margin: auto;
}

#pdf-separator label {
  cursor: pointer;
}


#pdf-loooader {
  margin: auto;
}

#pdf-block-result {
  display: none;
}

#pdf-block-result.active {
  display: block;
}

#pdf-copy,
#pdf-download {
  display: inline-block;
  width: 165px;
  margin: 10px;
}

#pdf-copy {
  float: left;
  margin-left: 75px;
}

#pdf-download {
  float: right;
  margin-right: 75px;
}

#pdf-result {
  margin: auto;
  width: 400px;
}



/* OPAC */

#opac-ricerca {
  /* display: none; */
}


.opac-table {
  width: 400px;
  margin: auto;
}

.opac-row {
  margin: 10px 0;
}

.opac-row-empty {
  display: none;
}

.opac-item-autorePrincipale::before {
  content: "Autore: ";
  font-weight: 600;
}
/* .opac-item-autore::before {
  content: " (";
}

.opac-item-autore::after {
  content: ")";
} */

.opac-item-titolo::before {
  content: "Titolo: ";
  font-weight: 600;
}

.opac-item-titolo {
  display: block;
}

.opac-item-sottotitolo {
  display: block;
  font-style: italic;
}

.opac-item-isbn {
  display: block;
}

.opac-item-copertina {
  display: none;
}
